= form_for @contact, :html => {:multipart => true} do |f|
  = f.error_messages
  %p
    = f.label :first_name
    %br
    = f.text_field :first_name

  %p
    = f.label :last_name
    %br
    = f.text_field :last_name

  %p
    = f.label :email
    %br
    = f.text_field :email

  %p
    = f.label :phone
    %br
    = f.text_field :phone

  %p
    .tinygray
      To see user post, user should have the right permissions
    = f.label :twitter_handler
    %br
    = f.text_field :twitter_handler

  %p
    = f.label :company
    %br
    = select_tag "contact[company_attributes][name]", options_for_select(Company::COMPANY_SELECT_OPTIONS, @contact.company)

  %p
    = image_tag @contact.avatar(:thumb)
    = f.file_field :avatar

  %p
    = f.submit
