- title "Contacts"

%table
  %tr
    %th &nbsp;
    %th First name
    %th Last name
    %th Email
    %th Phone
  - for contact in @contacts
    %tr
      %td= image_tag contact.avatar(:thumb)
      %td= contact.first_name
      %td= contact.last_name
      %td= contact.email
      %td= contact.phone
      %td= link_to 'Show', contact
      %td= link_to 'Edit', edit_contact_path(contact)
      %td= link_to 'Destroy', contact, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Contact", new_contact_path

.paginate
  = will_paginate @courses

